{% extends '@AdminLTE/layout/security-layout.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block login_form %}
    <form  action="{{ path('app_login'|route_alias) }}" method="post">
        {% block login_form_start %}{% endblock %}
        <div class="form-group has-feedback">
            <input type="email" name="email" class="form-control" required placeholder="{{ 'Username'|trans({}, 'AdminLTEBundle') }}" value="{{ last_username|default('') }}">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input name="password" type="password" class="form-control" required placeholder="{{ 'Password'|trans({}, 'AdminLTEBundle') }}">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        {#<div class="form-group">
            <input id="remember_me" name="_remember_me" type="checkbox">
            <label for="remember_me">{{ 'Remember Me'|trans({}, 'AdminLTEBundle') }}</label>
        </div>#}
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">{{ 'Sign In'|trans({}, 'AdminLTEBundle') }}</button>
        </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

        {% block login_form_end %}{% endblock %}
    </form>
{% endblock %}
{% block login_social_auth %}
{% endblock login_social_auth %}
