<form method="post" style="display: inline-block" action="{{ path('user_status_delete', {'id': user_status.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_status.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
