{{ form_start(form) }}
<div class="box-body">
    {{ form_widget(form) }}
</div>
<div class="box-footer">
    <a class="btn btn-info" href="{{ path('user_index') }}">back to list</a>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
