{{ form_start(form) }}
<div class="box-body">
    {{ form_widget(form) }}
</div>
<div class="box-footer">
    <a class="btn btn-info" href="{{ path('user_status_index') }}">back to list</a>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    {{ include('user_status/_delete_form.html.twig') }}
</div>

