{% extends 'base.html.twig' %}

{% block title %}Edit User status{% endblock %}

{% block page_title %}
    Edit User status {{ user_status.name }}
{% endblock %}
{% block page_subtitle %}
{% endblock %}


{% block page_content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ user_status.name }}</h3>
            <!-- /.box-tools -->
        </div>
        {{ include('user_status/_form_edit.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
