{% extends 'base.html.twig' %}

{% block title %}User status list{% endblock %}

{% block page_subtitle %}
{% endblock  %}

{% block page_content %}


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Count {{ user_statuses|length }}</h3>
            <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <a class="btn btn-primary"  href="{{ path('user_status_new') }}">Create new</a>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user_status in user_statuses %}
                    <tr>
                        <td>{{ user_status.id }}</td>
                        <td>{{ user_status.name }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('user_status_show', {'id': user_status.id}) }}">show</a>
                            <a class="btn btn-info" href="{{ path('user_status_edit', {'id': user_status.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            The footer of the box
        </div>
        <!-- box-footer -->
    </div>

{% endblock %}
