{% extends 'base.html.twig' %}

{% block title %}Create user status{% endblock %}

{% block page_title %}
{% endblock %}
{% block page_subtitle %}
{% endblock %}


{% block page_content %}

    <div class="box">
        <div class="box-header with-border">
        </div>
        {{ include('user_status/_form_new.html.twig', {'button_label': 'Save'}) }}
    </div>

{% endblock %}
