{% extends 'base.html.twig' %}

{% block title %}Show user status  {{ user_status.name }}{% endblock %}
{% block page_title %}
    Show user status {{ user_status.name }}
{% endblock %}
{% block page_subtitle %}
{% endblock %}

{% block page_content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">User status {{ user_status.name }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user_status.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ user_status.name }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a class="btn btn-info" href="{{ path('user_status_index') }}">back to list</a>
            <a class="btn btn-primary" href="{{ path('user_status_edit', {'id': user_status.id}) }}">edit</a>
            {{ include('user_status/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}

