{% extends 'base.html.twig' %}
{% block title %}Error 404{% endblock %}
{% block page_title %}
{% endblock %}
{% block page_subtitle %}
{% endblock %}
{% block page_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="text-body-error">
                The requested page was not found. Perhaps the page is deleted or the address is out of date.
                <a href="#" onclick="history.back();">Back</a><br>
                Code error 404.
            </p>
        </div>
    </div>

{% endblock  page_content %}
