{% extends 'base.html.twig' %}
{% block title %}Error 403 Access is denied{% endblock %}
{% block page_title %}
{% endblock %}
{% block page_subtitle %}
{% endblock %}
{% block page_content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <p class="text-body-error">
                You do not have permission to view this page. <a href="#" onclick="history.back();">Назад.</a><br>
                Code error 403
            </p>
        </div>
    </div>

{% endblock  page_content %}
