{% extends 'base.html.twig' %}
{% block title %}Error 500{% endblock %}
{% block page_title %}
{% endblock %}
{% block page_subtitle %}
{% endblock %}

{% block page_content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="text-body-error">
                An error occurred while the application was running.
                <a href="#" onclick="history.back();">Back</a><br>
                Code error 500.
            </p>
        </div>
    </div>


{% endblock  page_content %}
