{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block page_title %}
    Edit user {{ user.email }}
{% endblock %}
{% block page_subtitle %}
{% endblock %}


{% block page_content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ user.email }}</h3>
            <!-- /.box-tools -->
        </div>
        {{ include('user/_form_edit.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
