{% extends 'base.html.twig' %}

{% block title %}Users list{% endblock %}
{% block page_title %}
    Users list
{% endblock %}
{% block page_subtitle %}
{% endblock  %}

{% block page_content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Count users {{ pagination.getTotalItemCount }}</h3>
            <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <a class="btn btn-primary"  href="{{ path('user_new') }}">Create new</a>
            </div>
        </div>

        <div class="box-body">
            <table class="table">
                <thead >
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'q.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Email', 'q.email') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'First Name', 'q.firstName') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Last Name', 'q.lastName') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Birthday', 'q.birthday') }}</th>
                    <th>Note</th>
                    <th>Roles</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Last login', 'q.lastLogin') }}</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
                        <td>{{ user.note }}</td>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d h:i') : '' }}</td>
                        <td>
                            <a  class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                            <a class="btn btn-info"  href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>




{% endblock page_content %}
