{% extends 'base.html.twig' %}

{% block title %}Create New user{% endblock %}
{% block page_title %}
    Create new user
{% endblock %}
{% block page_subtitle %}
{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="box-header with-border">

        </div>
        {{ include('user/_form_new.html.twig', {'button_label': 'Save'}) }}
    </div>
{% endblock %}
