{% extends 'base.html.twig' %}

{% block title %}User {{ user.email }}{% endblock %}
{% block page_title %}
  Show user {{ user.email }}
{% endblock %}
{% block page_subtitle %}
{% endblock  %}

{% block page_content %}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">User {{ user.firstName }} {{ user.lastName }}  </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table">
            <tbody>
            <tr>
                <th>Avatar</th>
                <td>
                    {% if user.avatar %}
                        <img src="{{ asset( user.getPathAvatar ) }}" style="width: 140px; height: auto" class="img-circle" alt="{{ user.firstName }}" />
                    {% else %}
                        <img src="{{ asset(admin_lte_context.default_avatar) }}" class="img-circle" style="width: 140px; height: auto" alt="default avatar" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Last login</th>
                <td>{{ user.birthday ? user.lastLogin|date('Y-m-d h:i') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ user.note }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>API Token</th>
                <td>{{ user.apiToken }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a class="btn btn-info" href="{{ path('user_index') }}">back to list</a>
        <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>

{% endblock %}
